<section class="prev-blog" data-tags="<%= post.tags.map(&:name).join(' ') %>">
  <%= render partial: 'blog/posts/post_header', locals: {post: post} %>

  <div class="content inimei-blog" data-blog="content">
    <% if post.content_markdown %>
        <%= truncate_html_self(markdown(post.content), escape_pre: true) %>
    <% else %>
        <%= truncate_html_self(post.content) %>
    <% end %>
  </div>

  <div class="tags" data-blog="tags">
    <%= render post.tags %>
  </div>
  <!-- %= link_to t('.readmore'), post.full_url, class: 'button' %-->
</section>
