<% content_for :title do %>
  <%= @post.title %>
<% end %>

<% content_for :meta_description do %>
  <%= truncate(strip_tags(@post.content), length: 155) %>
<% end %>

<article>
  <%= render partial: 'blog/posts/post_header', locals: {post: @post }%>
  <div class="content inimei-blog" data-blog="content">
    <%= @post.content_markdown ? markdown(@post.content) : raw(@post.content) %>
  </div>

  <div class="tags" data-blog="tags">
    <%= render @post.tags %>
  </div>

  <div class="comments-footer">
    <div class="comments" id="comments">
      <%= render @comments %>
     </div>

    <%= form_for(@comment, remote: true, url: blog_post_comments_path(@post)) do |f| %>
        <div class="field">
          <%= f.text_area :content, id: 'comment_content', class:  'content-markdown', placeholder: 'Compose new comment...' %>
        </div>

        <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <!-- %= render 'blog/posts/social_sharing' %-->

</article>

<script type="text/javascript">
    $("#comment_content").markItUp(custom_settings);
</script>
