<%= render 'shared/error_messages', object: f.object %>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.label :email %>
<%= f.text_field :email, class: 'form-control' %>

<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation, 'Confirmation' %>
<%= f.password_field :password_confirmation, class: 'form-control' %>

<div id="change_avatar" class="input-picture">
  <img alt=<%= @user.name %> id="avatar_preview" width="130" height="130"
       src=<%= user_avatar_url(@user, size: 130) %>>

  <span class="btn change input-picture-btn" id="avatar_input">Choose Picture
    <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png', class: 'input-picture-input' %>
  </span>
</div>

<script type="text/javascript">
    $('#user_avatar').bind('change', input_picture_changed);
</script>