<%= render 'shared/error_messages', object: f.object %>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.label :email %>
<%= f.text_field :email, class: 'form-control' %>

<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation, 'Confirmation' %>
<%= f.password_field :password_confirmation, class: 'form-control' %>

<div id="change_avatar">
  <img alt=<%= @user.name %> id="avatar_preview" width="130" height="130"
       src=<%= user_avatar_url(@user, size: 130) %>>

  <span class="btn change" id="avatar_input">Choose Picture
    <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
</div>

<script type="text/javascript">
    $('#user_avatar').bind('change', function () {
        size_in_megabytes = this.files[0].size / 1024 / 1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB, Please choose a smaller file.')
        }
        else {
            // 检查是否支持FileReader对象
            if (typeof FileReader != 'undefined') {
                var acceptedTypes = {
                    'image/png': true,
                    'image/jpeg': true,
                    'image/gif': true
                };
                if (acceptedTypes[this.files[0].type] === true) {
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        image = document.getElementById('avatar_preview')
                        image.src = event.target.result;
                    };
                    reader.readAsDataURL(this.files[0]);
                }
            }
        }
    });
</script>