
<header class="main-header seventeen columns clearfix">
  <div class="blog-head-info">
    <%= link_to my_avatar(size: 100), '#', class: 'avatar' %>
    <h1><a href="<%= blog_root_path %>"><%= @setting.blog_name %></a></h1>
    <h2><%= @setting.blog_subtitle %></h2>
  </div>

  <%= rss_icon %>
  <%= render partial: 'layouts/blog/application/social_icons' %>

</header>