<li id="schedule-<%= schedule.id %>">
  <h4 class="title"><%= schedule.title %></h4>
  <span class="content">
    <%= schedule.content %>
  </span>

  <div class="schedule-footer">
    <span class="timestamp">Created at <%= time_ago_in_words(schedule.created_at) %> ago.</span>
    <% if schedule.planed_completed_at? %>
        <span class="timestamp">Plan to finish at</span>

        <div class="timestamp dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= schedule.planed_completed_at.to_formatted_s(:date) %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'After one day', schedule_path(schedule, type: 'after-a-day'), remote: true, method: :patch %></li>
            <li><%= link_to 'After one week', schedule_path(schedule, type: 'after-a-week'), remote: true, method: :patch %></li>
            <li class="divider"></li>
            <li><%= link_to 'No plan', schedule_path(schedule, type: 'no-plan'), remote: true, method: :patch %></li>
            <!--li class="divider"></li>
            <li>< %= link_to 'Log Out', logout_path, method: 'delete' % ></li-->
          </ul>
        </div>

    <% else %>

    <% end %>

    <% if current_user?(schedule.user) %>
        <%= link_to 'delete', schedule, method: :delete, remote: true, data: {confirm: 'You sure?'} %>
    <% end %>
  </div>
</li>
