<%= form_for(@micropost, html: {multipart: true}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: 'Compose new micropost...' %>
    </div>

    <div id="add_picture" class="input-picture">
      <span class="btn input-picture-btn" id="picture_input">Choose Picture
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'input-picture-input' %>
      </span>
    </div>

    <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', micropost_picture_changed);
</script>