<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <%= render 'layouts/blog/application/head' %>
</head>
<body>

  <div class="blog-top">
    <ul>
      <% if current_user == blog_owner%>
          <li><%= link_to t('.add_a_blog'), new_blog_admin_post_path, class: 'new-blog' %></li>
      <% end %>
      <% if current_user %>
          <li><%= link_to t('.my_home'), user_url(current_user, subdomain: nil), class: 'my-home' %></li>
      <% else %>
          <li><%= link_to t('.log_in'), login_url(subdomain: nil), class: 'log-in' %></li>
      <% end %>
    </ul>
  </div>

  <div class="container">
    <%= render 'layouts/blog/application/header' %>
    <div class="content twelve columns">
      <% flash.each do |name, msg| %>
        <div class="flash-notice">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <%= render 'layouts/blog/application/sidebar' %>

  </div>

  <%= render 'layouts/blog/application/footer' %>

  <!--% if content_for?(:footer) %>
    <footer>
      < %= yield :footer %>
    </footer>
  < % end % -->
  <!-- %= render 'layouts/blog/application/disqus' % -->
  <!--%= render 'layouts/blog/application/gauge_analytics' %-->
</body>
</html>
